/* Formatando */
* {
	margin: 0;
	padding: 0;
	/*border:1px solid green;*/
}
/* Geral */
body {
	min-width: 900px;
	max-width: 1400px;
}
h1 {
	color: #4e4e4e;
}
/* Area Cabeçalho*/
/* IDS */
#nome-empresa {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: Impact, serif;
	/*border: 1px solid blue;*/
	margin: 90px 40px 0px 40px;
	text-align: center;
}
#nome-empresa-subtitulo {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: Impact, serif;
	/*border: 1px solid blue;*/
	margin: 130px -245px;
}
#bloco-promocao {
	width: 200px;
	border: 3px ridge #E5E90B;
	margin: 0px;
	position: fixed;
	top: 0px;
	right: 0px;
}
#login {
	background: white;
	padding: 0px 60px 0px 14px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	position: absolute;
	right: 0px;
	top: 20px;
}
#nome-login {
	color: #060660;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	float: left;
	padding: 9px 3px 2px 4px;
}
#nome-login:hover {
	color: #0b0ba8;
}
#login img {
	padding: 3px 0px 0px 0px;
	float: left;
}
header {
	background: #D02929 url(../imagens/bombeiro.png) no-repeat top center;
	/*background-attachment: fixed;*/
	background-size: cover;
	height: 310px;
	padding: 10px;
}

#area-logo {
	padding: 20px 80px  5px 80px;
}
#area-menu {
	background: #000000;
	width: 100%;
	margin: 0px 0px;
}
#area-menu ul li{
	color: #AC0104;
	text-align: center;
	display: block;
	float: left;
}
a {
	text-decoration: none;
}
#area-menu a {
	float: left;
	padding: 10px 34px;
	width: 201px;
	font-size: 18px;
	color: #AC0104;
	background: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}
#area-menu li:hover a {
	color: #ffffff;
	background: #AC0104;
	
}
#home .home, #sobre .sobre, #noticias .noticias, #cursos .cursos, #contato .contato, #cursos .cursos{
    color: #ffffff;
	background: #AC0104;
	border-bottom: 3px solid white;
}
/*  ********************

	a:link - link normal
	a:visited  - link visitado
	a:hover - quando o usuário passa o mouse em cima do link 

	********************
*/
/* Rodapé */
/*#rodape {
  background: linear-gradient(to top, white, yellow);
  
  /*border: 1px solid blue;*/
  /*position: absolute;
  top: 600px;
  position: relative;
  top: 1500px;
  width: 100%;
  padding: 165px 0px;
}
#direitos-reservados {
  font-family: "Opens Sans", sans-serif; 
  font-size: 14px;
  font-weight: normal;
  position: relative;
  top: -72px;
  left: 40px;
}
#logo-rodape {
  width: 108px; 
  position: relative; 
  top: -92px; 
  left: 110px;
  /*border: 1px solid red;
}
#nome-empresa-rodape {
  /*line-height: 2.5;
  color: #AC0104;
  font-family: "Opens Sans", sans-serif; 
  font-size: 22px;   
  position: relative;
  top: -108px;
  left: 80px;
}
#nome-empresa-subtitulo-rodape {
  color: #AC0104;
  font-family: "Opens Sans", sans-serif; 
  font-size: 16px;   
  position: relative;
  top: -120px;
  left: 40px;
}*/
#home footer    {
	position: absolute;
	top: 2300px;
}
#sobre footer   {
	position: absolute;
	top: 1500px;
}
#cursos footer  {
	position: absolute;
	top: 1500px;
}
#bombeirocivil footer {
	position: absolute;
	top: 1700px;
}
#noticias footer {
	position: absolute;
	top: 1000px;
}
#contato footer  {
	position: absolute;
	top: 1700px;
}
footer {
	background: linear-gradient(to top, white, yellow);
	
	/*border: 1px solid blue;*/
	/*position: absolute;
	top: 600px;*/
	/*position: absolute;
	top: 1500px;*/
	width: 100%;
	padding: 165px 0px;
}
#direitos-reservados {
	font-family: "Opens Sans", sans-serif; 
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	top: 282px;
	left: 40px;
}
#logo-rodape {
	width: 108px; 
	position: absolute; 
	top: 62px; 
	left: 110px;
	/*border: 1px solid red;*/
}
#nome-empresa-rodape {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: "Opens Sans", sans-serif; 
	font-size: 22px;   
	position: absolute;
	top: 171px;
	left: 80px;
}
#nome-empresa-subtitulo-rodape {
	color: #AC0104;
	font-family: "Opens Sans", sans-serif; 
	font-size: 16px;   
	position: absolute;
	top: 200px;
	left: 40px;
}
#contato-rodape {
	color: white;
	font-family: "Opens Sans", sans-serif; 
	font-size: 22px;
	position: absolute;
	top: 40px;
	left: 340px;
}
#casa-rodape {
	width: 20px;
	position: absolute;
	top: 84px;
	left: 387px;
}
#endereço-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	top: 84px;
	left: 385px;
}
#telefone-rodape {
	width: 25px;
	position: absolute;
	top: 180px;
	left: 385px;
}
#telefone-numero-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	top: 180px;
	left: 420px;
}
#whatsapp-rodape {
	width: 25px;
	position: absolute;
	top: 230px;
	left: 385px;
}
#whatsapp-numero-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	top: 230px;
	left: 420px;
}
#horario-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	top: 180px;
	left: 600px;
}
#busf-rodape {
	width: 110px;
	position: absolute;
	top: 84px;
	left: 1150px;
}
#delegacia-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	top: 190px;
	left: 1150px;
}
#zona-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 207px;
	left: 1131px;
}
#busfbrasil {
	font-family: "Opens Sans", sans-serif; 
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	top: 220px;
	left: 1160px;
}
#facebook-rodape {
	width: 35px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	position: absolute;
	top: 270px;
	left: 600px;
}
#instagram-rodape {
	width: 35px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	position: absolute;
	top: 270px;
	left: 645px;
}
#breve-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 10px;
	font-weight: normal;
	position: absolute;
	top: 307px;
	left: 638px;
}
/* Classes */
.branco{
	color: black;
	
}
.float {
	float: left;
}
.submenu {
	clear: both;
	position: absolute;
    top: 372px;
  	left: 273px;
  	z-index: 1000;
}
/* ******************** Index - Area Informações ********************* */
#home article {
	position: absolute;
	top: 390px;
	width: 99%;
	/*border: 1px solid red;*/
}
#secao1 {
	width: 75%;
	margin: 0px 50px 60px 300px;
	padding: 60px 0px;
}
#secao1 img {
	width: 400px;
}
#nome-empresa-index {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: Impact, serif;
	margin: 40px 0px 0px 0px;
	text-align: center;
}
#resumo-sobre {
	width: 90%;
	font-size: 18px;
	margin: 20px 50px;
	text-align: center;
}
#secao2 {
	width: 94.9%;
	background: #AC0104;
	padding: 0px 40px;
	display: flex;
	display: -webkit-flex;
}
#secao2 div {
	align-items: baseline;
	justify-content: space-around;
	flex-direction: row;
	margin: 20px 100px;
}
#secao2 p {
	color: white;
	font-size: 18px;
	font-family: Impact, serif;
	margin-top: 17px;
	text-align: center;
	width: 100%;
}
#secao2 img {
	width: 90px;
	margin: 0px 70px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}
#imagem-diferencial1, #imagem-diferencial2, #imagem-diferencial3{
	
}
#secao3 {
	width: 92%;
	padding: 50px 0px 0px 60px;
}
#secao3 h1 {
	width: 50%;
	margin: 50px 0px 10px 0px;
	color: #AC0104;
}
#secao3 p {
	width: 60%;
	font-size: 20px;
	margin: 0px 0px 50px 0px;
}
#secao3 img {
	width: 200px;
	margin-right: 10px;
	margin-bottom: 20px;
}
#secao3 #fotos {
	float: left;
	width: 53%;
}
#secao3 #caixa-fotos {
	width: 100%;
}
#secao3 #facebook-lateral {
	float: left;
	margin: 50px 0px 0px 235px;
}
/* ******************** Sobre - Area Informações ******************** */
#nome-empresa-sobre {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: Impact, serif;
	/*border: 1px solid blue;*/
	margin: 20px 40px 0px 40px;
	text-align: center;
}
#subtitulo-sobre {
	font-size: 20px;
	color: #AC0104;
	font-family: Impact, serif;
	margin: 5px 40px 30px 40px;
	text-align: center;
}
#sobre article {

	padding: 80px 0px 120px 0px;
	position: absolute;
	top: 370px;
	width: 100%;
	/*border: 1px solid red;*/
}
#sobre article p{
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	padding: 10px 100px 0px 100px;
}
#imagens-sobre {
	margin: 45px 150px;
}
/* ******************** Curso - Area postagem ************************** */
#cursos article {
	margin: 150px 250px;
}
#cursos article li {
	list-style: none;
	font-size: 24px;
}
#cursos a {
	color: #AC0104;
	font-weight: bold;
}
/* **************** Bombeiro Civil - Area postagem ********************* */
#bombeirocivil article {
	margin-top: 100px;
}
#nome-curso {
	width: 97.5%;
	padding: 17px;
	background: linear-gradient(to right, #bd4b4b, #8a0f0f);
	text-align: center;
	text-shadow: 2px 0px black;
	font-family: "Open Sans", sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: white;
}
#sobre-curso {
	width: 70%;
	margin: 80px 230px;
}
#sobre-curso h1 {
	font-size: 24px;
	font-family: "Open Sans", sans-serif;
	color: black;
	font-weight: bolder;
	background: yellow;
}
#sobre-curso h2 {
	font-size: 22px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	padding: 20px 0px 0px 40px;
	color: #A71414;
}
#sobre-curso h3 {
	font-size: 22px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	margin:-26px 0px 20px 340px;
}
#sobre-curso p {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}
#sobre-curso ul {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	padding-left: 24px;
}
#sobre-curso a {
	border: 1px solid black;
	border-radius: 30px;
	background: #A71414;
	color: white;
	float: left;
	font-size: 24px;
	font-family: "Open Sans", sans-serif;
	margin: 70px 350px;
	padding: 10px 50px;
}
#sobre-curso a:hover {
	color: #A71414;
	background: white;
}

/* ******************* Noticias - Area postagem ************************ */
#noticias article {
	margin: 50px 100px;
	border: 1px solid green;
}
.postagem {
	margin: 30px 20px;
	padding: 100px;
	width: 1000px;
	background-image: url(../imagens/imagem-aph.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	border: 1px solid green;
}
/* ******************* Contato - Area Conteudo ************************* */

input, textarea {
	width: 450px;
	height: 27px;
	font-size: 14px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 7px;
	border-color: #a4a2a2;
	border: 1px solid black;
	padding: 8px 0px  8px 10px;
}
textarea {
	height: 65px;
}
input#submit {
	background: #577cd6;
	color: white;
	line-height: 0.8;
	font-weight: bold;
	width: 20%;
	float: left;
	padding: 10px 0px 20px 0px;
	margin: 20px 380px;
	cursor: pointer;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
}
input#submit:hover {
	background: #6f90dc;
	color: white;
}

#contato article {
	margin: 70px 0px;
	border: 1px solid white;
}
#titulo-contato {
	color: #333333;
	opacity: 0.8;
	font-family: "Lato Light", sans-serif;
	font-size: 50px;
	font-weight: normal;
	margin: 70px 80px  0px 80px;
	text-align: center;
}
#subtitulo-contato {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 20px 80px  0px 80px;
	text-align: center;
}
#subsubtitulo-contato {
	color: #c71212;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	margin: 0px 80px  0px 80px;
	text-align: center;
}
#contato-contato {
	color: #666666;
	font-family: "Open Sans", sans-serif;
	background: url(../imagens/Icone-Telefone.png) no-repeat;
	width: 20%;
	font-size: 15px;
	font-weight: normal;
	padding: 0px 80px;
	margin: 30px 30px  0px 275px;
}
#endereco-contato {
	color: #666666;
	font-family: "Open Sans", sans-serif;
	background: url(../imagens/Icone-Casa.png) no-repeat;
	width: 30%;
	font-size: 15px;
	font-weight: normal;
	padding: 0px 0px 17px 80px;
	margin: -53px 30px  0px 700px;
}
#maps {
	margin: 100px 200px 50px 200px;
}
#formulario {
	margin-left: 200px;
	width: 958px;
	padding: 50px 0px 20px 0px;
	float: left;
	/*border: 1px solid blue;*/
}
#nome-formulario {
	float: left;
	margin: 10px 10px 30px 10px;
}
#email-formulario {
	float: left;
	margin: 10px 10px 30px 10px;
}
#telefone-formulario {
	float: left;
	margin: 10px 10px 30px 10px;
}
#assunto-formulario {
	float: left;
	margin: 10px 0px 0px 0px;
}
#mensagem-formulario {
	float: right;
    margin: 10px 14px 0px 0px;
	width: 450px;
	height: 111px;
}