/* Formatando */
* {
	margin: 0;
	padding: 0;
	/*border:1px solid green;*/
}
/* Geral */
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
h1 {
	color: #4e4e4e;
}
img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
 /*Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
#home #secao1 #div1 {
	margin: 0 10px;
}
}
 /*Small devices (landscape phones, less than 768px)*/
}
@media (max-width: 767.98px) { 
#home #secao1 #div1 img {
	margin: 0 0px;
}
}
 /*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { ... }

 /*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
/* Area Cabeçalho*/
/* IDS */
#home .home, #sobre .sobre, #noticias .noticias, #cursos .cursos, #contato .contato, 
#cursos .cursos, #bombeiro-civil .bombeiro-civil{
    color: #AC0104;
}
#nav-target a:hover{
	color: #AC0104;
	
}
#icon-login {
	color: #AC0104;
	position: absolute;
	top: 6px;
	right: 140px;
}
#icon-dia {
	position: absolute;
	top: 6px;
	left: 50px;
}
#data {
	position: absolute;
	top: 6px;
	left: 85px;
}
#area-login {
	color: #AC0104;
}
#area-login:hover, #icon-login:hover {
	color: #e40105;
}
#icon-procurar {
	font-size: 19px;
}
/*  ********************

	a:link - link normal
	a:visited  - link visitado
	a:hover - quando o usuário passa o mouse em cima do link 

	********************
*/
#home footer    {
	position: absolute;
	top: 2900px;
}
#sobre footer   {
	position: absolute;
	top: 1600px;
}
#cursos footer  {
	position: absolute;
	top: 1500px;
}
#bombeiro-civil footer {
	position: absolute;
	top: 1700px;
}
#acreditacao-bombeiro-civil footer {
	position: absolute;
	top: 1500px;
}
#noticias footer {
	position: absolute;
	top: 1600px;
}
#contato footer  {
	position: absolute;
	top: 1400px;
}
footer {
	background: linear-gradient(to top, white, yellow);
	
	/*border: 1px solid blue;*/
	/*position: absolute;
	top: 600px;*/
	/*position: absolute;
	top: 1500px;*/
	width: 100%;
	padding: 165px 0px;
}
#direitos-reservados {
	font-family: "Opens Sans", sans-serif; 
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	top: 282px;
	left: 40px;
}
#logo-rodape {
	width: 108px; 
	position: absolute; 
	top: 62px; 
	left: 110px;
	/*border: 1px solid red;*/
}
#nome-empresa-rodape {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: "Opens Sans", sans-serif; 
	font-size: 22px;   
	position: absolute;
	top: 171px;
	left: 80px;
}
#nome-empresa-subtitulo-rodape {
	color: #AC0104;
	font-family: "Opens Sans", sans-serif; 
	font-size: 16px;   
	position: absolute;
	top: 200px;
	left: 40px;
}
#contato-rodape {
	color: white;
	font-family: "Opens Sans", sans-serif; 
	font-size: 22px;
	position: absolute;
	top: 40px;
	left: 340px;
}
#casa-rodape {
	width: 20px;
	position: absolute;
	top: 84px;
	left: 387px;
}
#endereço-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	top: 84px;
	left: 385px;
}
#telefone-rodape {
	width: 25px;
	position: absolute;
	top: 180px;
	left: 385px;
}
#telefone-numero-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	top: 180px;
	left: 420px;
}
#whatsapp-rodape {
	width: 25px;
	position: absolute;
	top: 230px;
	left: 385px;
}
#whatsapp-numero-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	top: 230px;
	left: 420px;
}
#horario-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	top: 180px;
	left: 600px;
}
#busf-rodape {
	width: 110px;
	position: absolute;
	top: 84px;
	left: 1150px;
}
#delegacia-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 14px;
	font-weight: normal;
	position: absolute;
	top: 190px;
	left: 1150px;
}
#zona-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	top: 207px;
	left: 1131px;
}
#busfbrasil {
	font-family: "Opens Sans", sans-serif; 
	font-size: 16px;
	font-weight: normal;
	position: absolute;
	top: 220px;
	left: 1160px;
}
#facebook-rodape {
	width: 35px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	position: absolute;
	top: 270px;
	left: 600px;
}
#instagram-rodape {
	width: 35px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	position: absolute;
	top: 270px;
	left: 645px;
}
#breve-rodape {
	font-family: "Opens Sans", sans-serif; 
	font-size: 10px;
	font-weight: normal;
	position: absolute;
	top: 307px;
	left: 638px;
}
/* Classes */
.branco{
	color: black;	
}
.submenu {
	clear: both;
	position: absolute;
    top: 372px;
  	left: 273px;
  	z-index: 1000;
}
/* ******************** Index - Area Informações ********************* */
#home article {
	position: absolute;
	top: 207px;
	width: 100%;
	/*border: 1px solid red;*/
}
#home #secao1 {
	width: 100%;
	/*margin: 0px 50px 60px 300px;*/
}
#home #secao1 #div1 {
	display: flex;
    flex-direction: rown;
	margin: 0px 0px 100px 0px;
	width: 100%;
}
#home #secao1 #div1 img {
	margin: 0px;
	width: 449.8px;
	align-self: flex-start;
	-webkit-border-radius: none;
	-moz-border-radius: none;
	border-radius: none;
}
#home #secao1 #div2 h4 {
	font-size: 17px;
	font-weight: bold;
	padding: 3px 0px;
	border-bottom: 4px solid #8494a3;
	margin-bottom: 15px;
}
#home #secao1 #div2 h4 a {
	width: 18%;
	background: #8494a3;
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 6px 15px 6px 15px;
}
#home #secao1 section {
	display: flex;
	display: -webkit-flex;
}
.noticia-div2 a{
	color: #333333;
	font-size: 18px;
	font-family: Impact, serif;
}
.noticia-div2 p{
	color: #999999;
	font-size: 17px;
	margin-top: 10px;
}

#nome-empresa-index {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: Impact, serif;
	margin: 40px 0px 0px 0px;
	text-align: center;
}
#resumo-sobre {
	width: 90%;
	font-size: 18px;
	margin: 20px 50px;
	text-align: center;
}
#home #secao2 {
	background: #AC0104;
	padding: 0px 40px;
}

#home #secao2 p {
	color: white;
	font-size: 18px;
	font-family: Impact, serif;
	margin-top: 17px;
	text-align: center;
	width: 100%;
}
#home #secao2 img {
	width: 90px;
	margin: 0px 70px;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}
#imagem-diferencial1, #imagem-diferencial2, #imagem-diferencial3{
	
}
#home #secao3 {
	width: 100%;
	padding: 50px 0px 0px 60px;
}
#home #secao3 h1 {
	width: 50%;
	margin: 50px 0px 10px 0px;
	color: #AC0104;
}
#home #secao3 p {
	width: 60%;
	font-size: 20px;
	margin: 0px 0px 50px 0px;
}
#home #secao3 img {
	width: 200px;
	margin-right: 10px;
	margin-bottom: 20px;
}
#home #secao3 #fotos {
	width: 53%;
}
#home #secao3 #caixa-fotos {
	width: 100%;
}
#home #secao3 #facebook-lateral {
	margin: 50px 0px 0px 235px;
}
/* ******************** Sobre - Area Informações ******************** */
#nome-empresa-sobre {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: Impact, serif;
	/*border: 1px solid blue;*/
	margin: 20px 40px 0px 40px;
	text-align: center;
}
#subtitulo-sobre {
	font-size: 20px;
	color: #AC0104;
	font-family: Impact, serif;
	margin: 5px 40px 50px 40px;
	text-align: center;
}
#sobre article {

	padding: 80px 0px 120px 0px;
	position: absolute;
	top: 200px;
	width: 100%;
	/*border: 1px solid red;*/
}
#sobre article p{
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	text-align: center;
	padding: 0px 50px;
}
#imagens-sobre {
	margin: 45px 200px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
/* ******************** Curso - Area postagem ************************** */
#cursos article {
	margin: 150px 250px;
}
#cursos article li {
	list-style: none;
	font-size: 24px;
}
#cursos a {
	color: #AC0104;
	font-weight: bold;
}
/* **************** Bombeiro Civil - Area postagem ********************* */
#bombeirocivil article {
	margin-top: 0px;
	/*background: url(../imagens/Logo-SPBOMBEIROS-Pequeno.png) center center;
	background-attachment: fixed;
	background-color: */
}
#nome-curso {
	width: 100%;
	padding: 17px;
	background: linear-gradient(to right, #bd4b4b, #8a0f0f);
	text-align: center;
	text-shadow: 2px 0px black;
	font-family: "Open Sans", sans-serif;
	font-size: 36px;
	font-weight: bold;
	color: white;
	border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	-webkit-border-top-right-radius: 10px; 
	border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;   
}
#sobre-curso {
	width: 70%;
	margin: 80px 230px;
}
#sobre-curso h1 {
	font-size: 24px;
	font-family: "Open Sans", sans-serif;
	color: black;
	font-weight: bolder;
	background: yellow;
}
#sobre-curso h2 {
	font-size: 22px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	padding: 20px 0px 0px 40px;
	color: #A71414;
}
#sobre-curso h3 {
	font-size: 22px;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	margin:-26px 0px 20px 340px;
}
#sobre-curso p {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}
#sobre-curso ul {
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	padding-left: 24px;
}
#sobre-curso a {
	border: 1px solid black;
	border-radius: 30px;
	background: #A71414;
	color: white;
	font-size: 24px;
	font-family: "Open Sans", sans-serif;
	margin: 70px 350px;
	padding: 10px 50px;
}
#sobre-curso a:hover {
	color: #A71414;
	background: white;
}

/* ******************* Acreditação Bombeiro Civil - Area postagem ************************ */
#acreditacao-bombeiro-civil article {
	margin: 0px 170px;
}
#acreditacao-bombeiro-civil article h2 {
	color: #AC0104;
	font-family: "Lato Light", sans-serif;
	font-size: 36px;
	font-weight: normal;
	margin-top: 70px;
}
#acreditacao-bombeiro-civil article h3 {
	font-family: "Open Sans", sans-serif;
	font-size: 20px;
	font-weight: normal;
	margin-top: 20px;
	margin-bottom: 20px;
}
#acreditacao-bombeiro-civil th {
	color: white;
}
#acreditacao-bombeiro-civil article nav {
	/*position: absolute;
	top: 1350px;*/
}

/* ******************* Noticias - Area postagem ************************ */
#noticias article {
	margin: 60px 100px;
}
#noticias #secao1 a:hover{
	opacity: 0.8;
}
#borda-branca{
	border: 1px solid white;
}
#sobreposicao {
	position: absolute;
	margin-top: 344px;
}
#sobreposicao2 {
	position: absolute;
	margin-top: 120px;
}
#noticias #secao2 {
	
}
#noticias #secao2 h5{
	font-size: 28px;
}
#noticias #secao3{
	margin: -723px 0px 0px 0px;
}
/* ******************* Contato - Area Conteudo ************************* */
#contato article {
	
}
#titulo-contato {
	color: #333333;
	opacity: 0.8;
	font-family: "Lato Light", sans-serif;
	font-size: 50px;
	font-weight: normal;
	margin: 70px 80px  0px 80px;
	text-align: center;
}
#subtitulo-contato {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin: 20px 80px  0px 80px;
	text-align: center;
}
#subsubtitulo-contato {
	color: #c71212;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	margin: 0px 80px  0px 80px;
	text-align: center;
}
#contato-contato {
	color: #666666;
	font-family: "Open Sans", sans-serif;
	background: url(../imagens/Icone-Telefone.png) no-repeat;
	width: 28%;
	font-size: 15px;
	font-weight: normal;
	padding: 0px 40px 0px 80px;
	margin: 30px 30px  0px 275px;
}
#endereco-contato {
	color: #666666;
	font-family: "Open Sans", sans-serif;
	background: url(../imagens/Icone-Casa.png) no-repeat;
	width: 30%;
	font-size: 15px;
	font-weight: normal;
	padding: 0px 0px 17px 80px;
	margin: -53px 30px  0px 700px;
}
#maps {
	margin: 100px 195px 50px 195px;
}
#formulario {
	margin-left: 200px;
	width: 958px;
	padding: 50px 0px 20px 0px;
}
#formulario .form-group {
	width: 47%;
	float: left;
}
#mensagem-formulario {
	width: 450px;
	height: 93px;
}
#telefone-formulario {
	margin-top: -54px;
}
#submit {
	position: absolute;
}