/* Formatando */
* {
	margin: 0;
	padding: 0;
	/*border:1px solid green;*/
}
/* Geral */
body {
	min-width: 900px;
}
h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}
/* Area Cabeçalho*/
/* IDS */
#nome-empresa {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: Impact, serif;
	/*border: 1px solid blue;*/
	margin: 90px 40px;
}
#nome-empresa-subtitulo {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: Impact, serif;
	/*border: 1px solid blue;*/
	margin: 140px -265px;
}
#bloco-promocao {
	width: 200px;
	border: 3px ridge #E5E90B;
	margin: 0px;
	position: fixed;
	top: 0px;
	right: 0px;
}
#area-cabecalho {
	background: #D02929 url(imagens/bombeiro.png) no-repeat top center;
	height: 310px;
	padding: 10px;
}

#area-logo {
	padding: 20px 80px  5px 80px;
}
#area-menu {
	background: #000000;
	width: 100%;
}
#area-menu ul li{
	color: #AC0104;
	text-align: center;
	display: block;
	
}
a {
	text-decoration: none;
}
#area-menu a {
	float: left;
	padding: 10px 36px;
	width: 201px;
	font-size: 18px;
	color: #AC0104;
	background: #ffffff;
	margin: 0;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
}
#area-menu li:hover a {
	color: #ffffff;
	background: #AC0104;
	
}
li:hover > .sub-menu {
  display: block;
}
#home .home, #sobre .sobre, #noticias .noticias, #cursos .cursos, #contato .contato {
    color: #ffffff;
	background: #AC0104;
	border-bottom: 3px solid white;
}
/*  ********************

	a:link - link normal
	a:visited  - link visitado
	a:hover - quando o usuário passa o mouse em cima do link 

	********************
*/
/* Rodapé */
#rodape {
	background: linear-gradient(to top, white, yellow);
	border: 1px solid blue;
	position: absolute;
	top: 600px;
	width: 100%;
	padding: 165px;
}
#area-logo-rodape {
	/*border: 1px solid green;*/
}
#logo-rodape {
	width: 108px; 
	position: absolute; 
	top: 62px; 
	left: 110px;
	/*border: 1px solid red;*/
}
#nome-empresa-rodape {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: "Opens Sans", sans-serif; 
	font-size: 22px;   
	/*border: 1px solid blue;*/
	position: absolute;
	top: 171px;
	left: 80px;
}
#nome-empresa-subtitulo-rodape {
	color: #AC0104;
	font-family: "Opens Sans", sans-serif; 
	font-size: 16px;   
	/*border: 1px solid blue;*/
	position: absolute;
	top: 200px;
	left: 40px;
}
/* Classes */
.branco{
	color: black;
	
}
.float {
	float: left;
}
.submenu {
	clear: both;
	position: absolute;
    top: 372px;
  	left: 273px;
  	z-index: 1000;
}
/* Index - Area Informações */
#area-informacoes {
	position: absolute;
	top: 500px;
	width: 97%;
	margin: -130px 0px -80px;
	border: 1px solid red;
}
/* Noticias - Area postagem */
#area-conteudo {
	margin: 50px 100px;
	border: 1px solid green;
}
.postagem {
	margin: 30px 20px;
	padding: 100px;
	width: 1000px;
	background-image: url(imagens/imagem-aph.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	border: 1px solid green;
}
/* Contato - Area Conteudo */

input, textarea {
	margin: 10px 0;
	width: 550px;
	height: 27px;
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid black;
	padding-left: 10px;
}
textarea {
	height: 65px;
}
input#submit {
	width: 10%;
	padding-left: 0;
	margin: 0;
}

#area-conteudo-contato {

}
#titulo-contato {
	margin: 60px 80px;
}
#formulario {
	margin-left: 100px;
	width: 565px;
	float: left;
	/*border: 1px solid blue;*/
}
#titulo-empresa {
	margin: 60px 80px;
	color: #AC0104;
}
#area-informacoes #endereco {
	margin: -50px 80px;
}