/* Formatando */
* {
	margin: 0;
	padding: 0;
	/*border:1px solid green;*/
}
/* Geral */
body {
	min-width: 900px;
}
h1 {
	color: #4e4e4e;
	font-size: 2.5em;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;                                                                                
}
ul a {
	width: 200px;
	height: 40px;
	display: block;
	color: #000;
	text-decoration: none;
	text-indent: 40px;
	line-height: 40px;
	background: url(imagens/menu.png) left center;
}
ul a:hover {
	background-position: right bottom;
	color: #fff;
}
/* Area Cabeçalho*/
/* IDS */
#nome-empresa {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: Impact, serif;
	/*border: 1px solid blue;*/
	margin: 90px 40px;
}
#nome-empresa-subtitulo {
	/*line-height: 2.5;*/
	color: #AC0104;
	font-family: Impact, serif;
	/*border: 1px solid blue;*/
	margin: 140px -265px;
}
#bloco-promocao {
	width: 200px;
	border: 3px ridge #E5E90B;
	margin: 0px;
	position: fixed;
	top: 0px;
	right: 0px;
}
#area-cabecalho {
	background: #D02929 url(imagens/bombeiro.png) no-repeat top center;
	height: 310px;
	padding: 10px;
}

#area-logo {
	padding: 20px 80px  5px 80px;
}
#area-menu {
	background: black;
	padding: 10px;
	border-collapse: collapse;
	text-align: center;
	clear: both;
}
#home .home, #sobre .sobre, #noticias .noticias, #cursos .cursos, #contato .contato {
    /*color: #D02929;
	background: #fff;*/
	border-bottom: 3px solid white;
	text-decoration: none;
}
a {
	text-decoration: none;	
}
/*  ********************

	a:link - link normal
	a:visited  - link visitado
	a:hover - quando o usuário passa o mouse em cima do link 

	********************
*/
a:link, a:visited {
	color: #fff;
	padding: 9px 60px;
	/*border: 1px solid blue;*/
}

a:hover {
	color: #BCB4B5;
	text-decoration: none;
}
/* Classes */
.branco{
	color: white;
	
}
.float {
	float: left;
}

/* Noticias - Area postagem */
#area-conteudo {
	margin: 50px 100px;
	border: 1px solid green;
}
.postagem {
	margin: 30px 20px;
	padding: 100px;
	width: 1000px;
	background-image: url(imagens/imagem-aph.png);
	background-repeat: no-repeat;
	background-position: bottom center;
	border: 1px solid green;
}
/* Contato - Area Conteudo */

input, textarea {
	margin: 10px 0;
	width: 550px;
	height: 27px;
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid black;
	padding-left: 10px;
}
textarea {
	height: 65px;
}
input#submit {
	width: 10%;
	padding-left: 0;
	margin: 0;
}

#area-conteudo-contato {

}
#titulo-contato {
	margin: 60px 80px;
}
#formulario {
	margin-left: 100px;
	width: 565px;
	float: left;
	/*border: 1px solid blue;*/
}
#area-informacoes {
	float: right;
	margin: -150px 0px -100px 100px;
}
#titulo-empresa {
	margin: 60px 80px;
	color: #AC0104;
}
#area-informacoes #endereco {
	margin: -50px 80px;
}